<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
</head>
<body>
    <th:block th:if="${materielStock == null}">
        <p>Le materiel sélectionné n'a encore aucune entrée en stock</p>
    </th:block>
    <th:block th:if="${materielStock != null}">
        <h1>Inventaire pour le matériel: <span th:text="${materielStock.getMateriel().getLibelle()}"></span></h1>
        <form id="inventaireForm" th:action="@{/inventaire/save}" method="post">
            <label for="materielId">Materiel:</label>
            <input type="text" id="materielId" name="materielId" required readonly th:value="${materielStock.getMateriel().getLibelle()}">
    
            <label for="qte_reelle">Quantité réelle:</label>
            <input type="number" id="qte_reelle" name="qte_reelle">
    
            <label for="qte_restant">Quantité restante:</label>
            <input type="number" id="qte_restant" th:value="${materielStock.getQuantiteRestant()}" name="qte_restant" required readonly>
    
            <label for="date_inventaire">Date d'inventaire:</label>
            <input type="date" id="date_inventaire" name="date_inventaire" required>
    
            <button type="submit">Enregistrer</button>
        </form>
    </th:block>

    <script th:inline="javascript">
        // on va charger les materiels pour eviter les api

    </script>
</body>
</html>